<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
  <label for="title">Title:</label>
  <input id="title" type="text" formControlName="title" required />

  <label for="description">Description:</label>
  <textarea id="description" formControlName="description"></textarea>

  <label for="dueDate">Due Date:</label>
  <input id="dueDate" type="date" formControlName="dueDate" required />

  <label for="priority">Priority:</label>
  <select id="priority" formControlName="priority">
    <option value="Low">Low</option>
    <option value="Medium">Medium</option>
    <option value="High">High</option>
  </select>

  <label for="attachment">Attachment:</label>
  <input id="attachment" type="file" (change)="onFileChange($event)" />

  <button type="submit" [disabled]="taskForm.invalid">
    {{ taskIndex !== null ? 'Update Task' : 'Create Task' }}
  </button>
</form>


<router-outlet></router-outlet>

