<div class="landing-container">
    <div class="welcome-section">
        <h1>Welcome to TaskNest</h1>
        <p>Manage your tasks, stay productive, and get things done all in one place. Start organizing your day and boost your productivity with TaskNest today!</p>
    </div>
  
    <div class="signin-card">
      <form>
        <div class="form-group">
          <i class="login_icon fas fa-user"></i>
          <input type="email" name="EmailId" [(ngModel)]="loginObj.EmailId" class="form-control" id="InputEmail" placeholder="Enter email" />
        </div>
  
        <div class="form-group">
          <i class="login_icon fas fa-user"></i>
          <input type="password" name="password" [(ngModel)]="loginObj.password"  class="form-control" id="InputPassword" placeholder="Enter password" />
        </div>
  
        <button type="submit" (click)="onLogin()" class="btn btn-primary">Sign In</button>
      </form>
  
      <div class="social-divider">
        <span>or</span>
      </div>
  
      <div class="social-login">
        <button class="btn-social google">Sign in with Google</button>
      </div>
  
      <p class="signup-text">
        Don’t have an account? <a routerLink="/signup">Sign up</a>
      </p>
    </div>
  </div>
  <router-outlet></router-outlet>
  