<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task Nest</title>
  <link rel="stylesheet" href="home.component.css">
</head>
<body>
  <div>
    <h1>Welcome to Task Nest!</h1>
    <p>A smart application that helps you manage their tasks in an organized manner</p>
    <button routerLink="/task-creation" class="btn btn-primary">Create Task</button>
    <button routerLink="/task-list" class="btn btn-secondary">View My Tasks</button>
  </div>
</body>
</html>
