<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task Nest</title>
  <link rel="stylesheet" href="home.component.css">
</head>
<body>
  <div>
    <h1>Welcome to Task Nest!</h1>
    <p>A smart application that helps you manage your tasks in an organized manner</p>
    <button routerLink="/signin" class="btn btn-primary">Sign In</button>
    <button routerLink="/signup" class="btn btn-secondary">Sign Up</button>
  </div>
</body>
</html>
