.navbar {
  padding: 10px 20px;
  opacity: 1; 
  filter: none; 
  transition: none; 
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #e53e3e;;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navbar-brand:hover {
  color: #ffc107;
}

.navbar-nav {
  margin-left: auto;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  font-size: 1.1rem;
  color: #fff;
  transition: color 0.3s ease;
  cursor: pointer;
}

.nav-link:hover {
  color: #ffc107;
}

.navbar-toggler {
  border-color: #ffc107;
}

.navbar-toggler-icon {
  background-color: #ffc107;
}

.nav-link.active {
  color: #ffc107;
}

@media (max-width: 768px) {
  .navbar {
    text-align: center;
  }
}
