<div class="task-list-container">
  <h2>Task List</h2>
  
  <ul class="task-list">
    <li *ngFor="let task of tasks; let i = index" class="task-item">
      <div class="task-info">
        <input type="checkbox"
                placeholder="i"
               [checked]="task.completed" 
               (change)="updateStatus(i, !task.completed)" 
               id="status{{i}}" class="status-checkbox" />
        
        <span class="task-title">{{ task.title }}</span>
        <span class="task-description">{{ task.description }}</span>
      </div>

      <div class="task-actions">
        <i class="fas fa-edit" (click)="editTask(i)" title="Edit Task"></i>
        
        <i class="fas fa-trash" (click)="deleteTask(i)" title="Delete Task"></i>
      </div>
    </li>
  </ul>
  
</div>
